* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
.h1 d {
  font-size: 90px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Hammer & Tongs;
}
.h1 m {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 56px;
  text-transform: uppercase;
  font-family: Hammer & Tongs;
}
.h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Hammer & Tongs;
}
.h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Hammer & Tongs;
}
.h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Hammer & Tongs;
}
.h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Hammer & Tongs;
}

:root {
  --sec1Color: red;
  --sec5Color: black;
  --whiteColor: white;
}

.section-1 {
  background-color: var(--sec1Color);
}
.topbar{
  padding-top: 5px;
}
.sec1-icon ul li {
  display: inline-block;
  padding-left: 3px;
}

.sec1-line p {
  color: white;
  /* text-align: center; */
  font-size: 14px;
  line-height: 17px;
  font-family: lato;
  margin-top: 6px;
  margin-left: 140px;
}
.sec1-c p {
  color: white;
  /* text-align: center; */
  font-size: 14px;
  line-height: 17px;
  font-family: lato;
  margin-top: 6px;
}



.sec2-navbar{
    padding-top: 20px;
    height: 10vh;
}

.sec2-tabs ul li a{
    text-decoration: none;
    color: var(--sec5Color);
    
    font-size: 14px;
    /* font-family: Hammer & Tongs; */
    line-height: 18px;
}
.sec2-tabs ul li{
    display: inline-block;
    padding-left: 50px;
    text-transform: uppercase;
}
.sec2-icon ul li{
    display: inline-block;
    color: var(--sec5Color);
    padding-left: 16px;
}
.section-2 hr{
  color: #E4E4E4;
  border: 1px solid;
}

.section-3-pg2{
  margin-top: 120px;
}
.sec3-content-pg2 h2{
  color: #151515;
}
.sec3-content-pg2 h5{
  color: #151515;
  margin-top: 15px;
}
.sec3-content-pg2 h4{
  color: #151515;
  margin-top: 100px;
}
.sec3-content-pg2 p{
  margin-top: 20px;
  max-width: 507px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.sec3-content-pg2 button{
  height: 40px;
  width: 163px;
  background-color: #151515;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 25px;
}

/* .section-4-pg2{
  background-color:  #F8F8F8;
  height: 60vh;
  margin-top: 60px;
}
.sec4-content-pg2 h4{
  margin-top: 60px;
  color: #151515;
}
.grey-hr hr{
  color: #E4E4E4;
  border: 1px solid;
} */


.section-5-pg2{
  background-color: #151515;
  height: 45vh;
}
.sec5-content-pg2{
  margin-top: 90px;
}
.sec5-content-pg2 h3{
  text-align: center;
  align-items: center;
  color: #EA2E34;
}
.sec5-content-pg2 p{
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  margin-top: 20px;
}
.sec5-content-pg2 button{
  height: 40px;
  width: 163px;
  background-color: #FFFFFF;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #151515;
  margin-top: 20px;
  margin-left: 570px;
}


/* Media Quries */

@media screen and (max-width: 770px) {
  .sec3-image-pg2 img{
    display: none;
  }
  .banner-wrap{
    background-image: url("/images/Page2Images/responsiveImages/sec3.jpg");
    background-size: cover;
    height: 70vh;
    background-position: center;
  }
  .banner-wrap h2{
    color: #FFFFFF; 
    padding-top: 200px;
    text-align: center;
  }
  .banner-wrap h5{
    color: #FFFFFF; 
    text-align: center;
    padding-top: 20px;

  }
  .banner-wrap2{
    padding-left: 20px;
  }
  
  
  .sec5-content-pg2 button {
    margin: auto  ;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .sec5-content-pg2 p{
    max-width: 353px;
    margin: auto;
    margin-top: 30px;
  }




}




