
/* Media Quries */

@media screen and (max-width: 770px) {
    .sec3-image-pg2 img{
      display: none;
    }
    .banner-wrap{
      background-image: url("./images/Page2Images/responsiveImages/sec3.jpg");
      background-size: cover;
      padding: 170px 0px;
      background-position: center;
    }
    .banner-wrap h2{
      color: #FFFFFF; 
      
      text-align: center;
    }
    .banner-wrap h5{
      color: #FFFFFF; 
      text-align: center;
      padding-top: 20px;
  
    }
    .banner-wrap2{
      padding-left: 15px;
      padding-right: 15px;
    }
    
    
    .sec5-content-pg2 button {
      margin: auto  ;
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    .sec5-content-pg2 p{
      max-width: 353px;
      margin: auto;
      margin-top: 30px;
    }
    
  
  
  
  
}