@media all and (max-width: 768px) {
  .sec3 {
    margin-left: 0;
  }
  .sec3.img2 {
    margin-top: 20px;
  }

  .sec2-banner p {
    font-size: 35px;
    line-height: 38px;
  }
  .sec2-button2 {
    margin-left: 40px;
  }
  .section-3 {
    margin-top: 90px;
  }

  .sec3-image1 button {
    margin: 10px 0px 0px 10px;
  }
  .sec3-image2 button {
    margin: 10px 0px 0px 10px;
  }
  .sec5-image {
    padding-top: 45px;
  }
  .sec6-content {
    padding-top: 45px;
  }

  .section-6 {
    margin-top: 100px;
    background-color: #f8f8f8;
  }

  .section-7 {
    margin-top: 0px;
    padding: 150px 0;
  }

  .sec7-content h2 {
    text-align: left;
  }
  .sec7-content p {
    text-align: left;
    margin-top: 40px;
    margin: revert;
  }
}
