*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
li{
    padding-top: 8px;
}
.h2{
    font-size: 40px ;
    font-weight: 400;
}
.h3{
    font-size: 32px ;
    font-weight: 400;
}
.h4{
    font-size: 24px ;
    font-weight: 400;
}
.h5{
    font-size: 16px ;
    font-weight: 400;
}
.body1{
    font-size: 18px;
    font-weight: 400;
}
.body2{
    font-size: 16px;
    font-weight: 400;
}
.body3{
    font-size: 14px;
    font-weight: 400;
}
.dark_gray{
    color: #666666;
}
/* //////////////////////////////////////////////All_Classes/////////////////////////////////////////////////// */
.section_1_txt{
    text-align: center;
    padding-top: 80px;
}
.section_1_txt p{
    padding-top: 40px;
    padding-bottom: 90px;
    max-width: 748px;
    margin: auto;
}
.section_1_btn button{
    padding-left: 11.88px;
    padding-bottom: 34px;
    background-color: transparent;
    border: none;
}
/* ////////////////////////////////////////////////////////section_1_End///////////////////////////////////////// */
.section_2{
    background-color: #F8F8F8;
}
.section_2_uperside_txt h3{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 19.5px;
}
.location{
    display: flex;
    justify-content: center;
    padding-bottom: 23px;
}
.location img{
    padding-right: 13.18px;
    
}
.clock{
    display: flex;
    justify-content: center;
    padding-bottom: 19.5px;
}
.clock img{
    padding-right: 11px;
}
.section_2_btn{
    text-align: center;
    padding-bottom: 40px;
}
.section_2_btn button{
    background-color: black;
    color: white;
    border: none;
    padding: 12px 16px;
}
.section_2_img{
    padding-bottom: 40px;
}
.section_2_img img{
    width: 100%;
}
.section_2_lower_txt{
    padding-bottom: 40px;
}
.section_2_lower_txt .pp{
    padding-bottom: 10px;
}
/* ////////////////////////////////////////////////////////////section_2_End////////////////////////////////////////// */
.section_last{
    background-color: #F8F8F8;
}
.section_last_uperside h5{
    padding-top: 24px;
}