@media all and (max-width : 768px) {
 .section_1_txt h2{
    text-align: left;
 }
 .body1{
    text-align: left;
 }
 .section_2_uperside_txt h3{
    text-align: left;
 }
 .location{
    justify-content: left;
 }
 .clock{
    justify-content: left;

}
.section_2_btn button{
    width: 100%;
}
.span_2{
    display: block;
    background-color: #666666;
    width: 60%;
    padding: 2px;
    margin: auto;
    border-radius: 25px;
    position: relative;
    top: 8px;
}

}