

@media screen and (max-width: 766px) {
    .sec3 {
        margin-left: 0;
    }
    .section-2{
        height: 130vh;

    }
    .sec2-banner p{
        font-size: 52px;
    }
    .sec2-button2{
        margin-left: 40px;
    }
    .section-3{
        margin-top: 100px;
    }
    .sec3-image1 h3{
        padding-top: 300px;
        padding-left: 15px;
    }
    .sec3-image2 h3{
        padding-top: 300px;
        padding-left: 15px;
    }
    .sec3-image1 button{
        margin: 10px 0px 0px 10px;
    }
    .sec3-image2 button{
        margin: 10px 0px 0px 10px;
    }
    .sec3-image1{
        margin-left: 20px;
        max-width: 334px;
    }
    .sec3-image2{
        margin-top: 60px;
        margin-left: 20px;
        max-width: 334px;
    }
    .sec5-content{
        padding-left: 25px;
    }
    .section-5{
        height: 166vh;
    }
    .sec5-image img{
        margin-left: 20px;
        max-width: 334px;
    }
    .section-6{
        margin-top: 100px;
        background-color: #F8F8F8;
        height: 138vh;
    }
    .sec6-image img{
        margin-left: 20px;
        max-width: 334px;
        padding-top: 130px;
    }
    .sec6-content{
        margin-top: 50px;
        padding-left: 25px;
    }
    .section-7{
        margin-top: 0px;
    }
    .sec7-content{
        margin-top: 100px;
        padding-left: 25px;
    }
    .sec7-content h2{
        text-align: left;
    }
    .sec7-content p{
        text-align: left;
        margin-top: 40px;
        margin: revert;
    }


    
}